/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
footer .footer-logo {
  float: right;
  margin: 20px;
  display: inline-block;
}
