@-webkit-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
footer {
  position: relative;
  z-index: 3;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.02);
  display: block;
  opacity: 0;
}
footer.active {
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  opacity: 1;
}
footer aside {
  padding: 20px;
  display: inline-block;
}
footer aside.menu {
  padding-left: 120px;
  float: left;
  min-width: 60px;
}
footer aside.menu nav a:link,
footer aside.menu nav a:visited {
  text-decoration: none;
  color: #666;
  text-shadow: 0px 1px 1px #ffffff;
  display: block;
  font-size: 15px;
  font-family: 'Oswald';
  padding: 2px 0px 2px 0px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
footer aside.menu nav a:link:hover,
footer aside.menu nav a:visited:hover {
  color: #F02311;
}
footer aside.menu .html5logo {
  display: inline-block;
  margin-top: 30px;
}
footer aside.menu .html5logo img {
  width: 50px;
  height: 50px;
}
footer aside.latest-tweets {
  float: left;
  color: #ccc;
  width: 30%;
  font-size: 15px;
  font-family: 'Oswald';
}
footer aside.latest-tweets a:link,
footer aside.latest-tweets a:visited {
  color: #F02311;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;
  border-bottom: 1px dotted #F02311;
}
footer aside.latest-tweets hgroup h1 {
  padding: 0px 30px 0px 0px;
  display: inline-block;
  margin: 0px;
  font-weight: normal;
  color: #666;
  font-size: 20px;
  line-height: 27px;
  background-image: url('/assets/images/twitter-footer-icon.png');
  background-repeat: no-repeat;
  background-position: right 5px;
  background-size: 24px 20px;
  text-shadow: 0px 1px 1px #ffffff;
}
footer aside.latest-tweets p {
  font-family: Georgia;
  font-size: 12px;
  color: #666;
  margin: 0px;
  padding: 15px 0px 15px 0px;
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 1px dashed #ccc;
  line-height: 18px;
}
footer aside.copy {
  font-size: 11px;
  padding-left: 240px;
  font-family: Georgia;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  font-style: italic;
  color: #666;
}
footer aside.copy a:link,
footer aside.copy a:visited {
  color: #F02311;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}
footer aside.copy a:link:hover,
footer aside.copy a:visited:hover {
  border-bottom: 1px dotted #F02311;
}
footer aside.flickr-photos {
  padding-top: 0px;
  clear: both;
  display: block;
  padding-left: 240px;
  color: #ccc;
  max-width: 450px;
  font-size: 15px;
  font-family: 'Oswald';
}
footer aside.flickr-photos hgroup h1 {
  padding: 0px 40px 20px 0px;
  display: inline-block;
  margin: 0px;
  font-weight: normal;
  color: #666;
  font-size: 20px;
  line-height: 27px;
  text-shadow: 0px 1px 1px #ffffff;
}
footer aside.flickr-photos nav a:link,
footer aside.flickr-photos nav a:visited {
  text-align: center;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid white;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #000;
}
footer aside.flickr-photos nav a:link img,
footer aside.flickr-photos nav a:visited img {
  height: 50px;
}
footer aside.flickr-photos nav a:link:hover,
footer aside.flickr-photos nav a:visited:hover {
  opacity: 1;
}
footer aside.footer-logo {
  float: right;
}
