@-webkit-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
html {
  height: 100%;
}
html, body {
  background-color: #f2f0f0;
  -webkit-font-smoothing: antialiased;
  background-color: #ebebeb;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  min-height: 100%;
  background-image: url('/assets/images/stripe_e7eb00fc0caa9bf17359f52ecb7f3416.png');
  display: -webkit-box;
  display: -o-box;
  display: box;
  -webkit-box-flex: ;
  -moz-box-flex: ;
  -o-box-flex: ;
  box-flex: ;
  -webkit-box-orient: vertical;
  -mox-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
}
#background {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 0;
}
#awwwards {
  position: absolute;
  top: 20px;
  right: 0px;
  z-index: 555;
}
#awwwards a {
  width: 69px;
  height: 105px;
  text-indent: -8000px;
  display: block;
  background: url(/assets/images/awwwards_nominee.png) no-repeat;
  overflow: hidden;
}
#wrapper {
  min-width: 505px;
  margin-top: 20px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -o-box;
  display: box;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
}
#wrapper #sections-wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0px 20px 20px 125px;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper #sections-wrapper .preloader {
  display: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 330px;
  height: 7px;
  line-height: 7px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(255,255,255,1), inset 0px 0px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 1px 1px rgba(255,255,255,1), inset 0px 0px 3px rgba(0,0,0,0.2);
  -o-box-shadow: 0px 0px 1px 1px rgba(255,255,255,1), inset 0px 0px 3px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 1px 1px rgba(255,255,255,1), inset 0px 0px 3px rgba(0,0,0,0.2);
  content: " ";
  background-color: rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, rgba(255, 255, 255, 0.2)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.2)), color-stop(0.75, rgba(255, 255, 255, 0.2)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  -webkit-animation: preloader-move 2s linear infinite;
  -moz-animation: preloader-move 2s linear infinite;
  -o-animation: preloader-move 2s linear infinite;
  animation: preloader-move 2s linear infinite;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  -o-background-size: 50px 50px;
  background-size: 50px 50px;
}
#wrapper #sections-wrapper .preloader.active {
  display: block;
}
#wrapper #sections-wrapper .seo {
  display: none;
}
#wrapper #sections-wrapper section {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#wrapper #sections-wrapper section .centered {
  width: 100%;
}
#wrapper #sections-wrapper section.active {
  display: block;
}
