/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
html {
  height: 100%;
}
html, body {
  background-color: #f2f0f0;
  -webkit-font-smoothing: antialiased;
  background-color: #ebebeb;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  min-height: 100%;
  background-image: url('/assets/images/stripe_e7eb00fc0caa9bf17359f52ecb7f3416.png');
}
#wrapper {
  min-width: 505px;
  box-sizing: border-box;
}
#wrapper #sections-wrapper {
  position: relative;
  width: 100%;
  padding: 0px 20px 20px 125px;
  -webkit-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper #sections-wrapper .seo {
  display: none;
}
#wrapper #sections-wrapper section {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#wrapper #sections-wrapper section .centered {
  width: 100%;
}
#wrapper #sections-wrapper section.active {
  display: block;
}
footer {
  display: block;
  -webkit-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(0, 0, 0, 0.02);
}
footer.active {
  display: block;
}
