#wrapper {
    min-width:100%;
}

header.navigation {
    min-width:100%;
}

header.navigation nav {
    margin:20px 0px 20px 20px;
}

header.navigation nav ul li a:link,
header.navigation nav ul li a:visited {
    font-size:10px;
}

#sections-wrapper {

}

section.portfolio article .description h1,
section.blog article .description h1 {
    font-size:28px;
}

section.portfolio article,
section.blog article {
    position:static;
    width:100% !important;
    margin-bottom:10px;
    padding:0px 0px 20px 0px;
}

section.portfolio article.featured,
section.blog ul li.featured {
    width:100%;
}

section.portfolio article .photo,
section.portfolio article .description {
    float:none;
    width:100%;
    padding:0px;
    margin-right:0px;
}

section.portfolio article .photo .github-ribbon,
section.blog article .photo .github-ribbon {
    width:85px;
    height:85px;
}

section.portfolio article .photo {
    background-size:100% 20px;
    padding-bottom:15px;
}

section.portfolio article img,
section.blog article img {
    width: 100%;
    height:auto !important;
}

section.post-details {
    padding:0px;
}

section.post-details .content {
    width:100%;
    float:none;
}

section.post-details aside {
    display:none;
}
