#wrapper {
    min-width:100%;
}

header.navigation {
    min-width:100%;
}

header.navigation nav {
    margin:20px 0px 20px 20px;
}

header.navigation nav ul li a:link,
header.navigation nav ul li a:visited {
    font-size:10px;
}

#sections-wrapper {

}

section.portfolio ul,
section.blog ul {

}

section.portfolio ul li .description h1,
section.blog ul li .description h1 {
    font-size:28px;
}

section.portfolio ul li .photo,
section.portfolio ul li .description {
    float:none;
    width:100%;
    padding:0px;
    margin-right:0px;
}

section.portfolio ul li,
section.blog ul li {
    position:static;
    width:100% !important;
    margin-bottom:10px;
    padding:0px 0px 20px 0px;
}

section.portfolio ul li.featured,
section.blog ul li.featured {
    width:100%;
}

section.portfolio ul li .photo .github-ribbon,
section.blog ul li .photo .github-ribbon {
    width:85px;
    height:85px;
}

section.portfolio ul li .photo {
    background-size:100% 20px;
    padding-bottom:15px;
}

section.portfolio ul li img,
section.blog ul li img {
    width: 100%;
    height:auto !important;
}

section.post-details {
    padding:0px;
}

section.post-details .content {
    width:100%;
    float:none;
}

section.post-details aside {
    display:none;
}
