/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
header.navigation {
  display: block;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 100;
  min-width: 480px;
}
header.navigation nav {
  display: block;
  width: 90%;
  margin: 10px auto 10px auto;
  overflow: hidden;
}
header.navigation nav img {
  width: 70px;
}
header.navigation nav ul {
  margin-top: 20px;
  background-color: #f2f0f0;
}
header.navigation nav ul li {
  float: left;
  line-height: 25px;
  list-style: none;
  margin: 0px 5px;
  cursor: pointer;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
  text-shadow: 0px 1px #fff;
  background-color: #f2f0f0;
  outline: none;
  -webkit-transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
  -moz-transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
  -o-transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
  transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
}
header.navigation nav ul li.active, header.navigation nav ul li:hover {
  border-bottom-color: #666;
  border-bottom-width: 2px;
  border-bottom-style: inset;
}
header.navigation nav ul li:last-child {
  border-bottom: 0px;
  border-top: 0px;
  float: right;
  width: 78px;
  padding: 5px 0px;
}
header.navigation nav ul li:last-child a:link, header.navigation nav ul li:last-child a:visited {
  padding: 5px;
}
header.navigation nav ul li a:link, header.navigation nav ul li a:visited {
  text-decoration: none;
  color: #666;
  padding: 0px 5px;
  display: inline-block;
  font-family: Georgia;
  font-size: 14px;
}
