/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
header.navigation {
  display: block;
  width: 100%;
  min-width: 505px;
}
header.navigation nav {
  display: block;
  overflow: hidden;
  margin: 20px 30px 0px 40px;
}
header.navigation nav img {
  width: 70px;
}
header.navigation nav ul {
  margin-top: 20px;
}
header.navigation nav ul li {
  float: left;
  line-height: 25px;
  list-style: none;
  margin: 0px 5px;
  cursor: pointer;
  border-bottom: 1px dashed #ccc;
  text-shadow: 0px 1px #fff;
  outline: none;
  -webkit-transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
  -moz-transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
  -o-transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
  transition: border-bottom-color 0.2s, border-bottom-style 0.2s;
}
header.navigation nav ul li:first-child {
  margin-left: 0px;
}
header.navigation nav ul li.active, header.navigation nav ul li:hover {
  border-bottom-color: #666;
  border-bottom-width: 2px;
  border-bottom-style: inset;
}
header.navigation nav ul li.active a:link,
header.navigation nav ul li:hover a:link,
header.navigation nav ul li.active a:visited,
header.navigation nav ul li:hover a:visited,
header.navigation nav ul li.active a:hover,
header.navigation nav ul li:hover a:hover {
  color: #000;
}
header.navigation nav ul li a:link, header.navigation nav ul li a:visited {
  text-decoration: none;
  color: #666;
  padding: 0px 5px 3px 6px;
  display: inline-block;
  font-family: 'Six Caps';
  font-size: 36px;
  letter-spacing: 1px;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
