/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
section.portfolio ul, section.blog ul {
  position: relative;
}
section.portfolio ul li, section.blog ul li {
  list-style: none;
  color: #666;
  display: block;
  position: absolute;
  width: 218px;
  border-bottom: 1px dashed #ccc;
  padding: 0px 0px 20px 0px;
  box-sizing: border-box;
}
section.portfolio ul li.featured, section.blog ul li.featured {
  width: 456px;
}
section.portfolio ul li:hover .photo img, section.blog ul li:hover .photo img {
  border-color: #F02311;
}
section.portfolio ul li:hover a:link,
section.blog ul li:hover a:link,
section.portfolio ul li:hover a:visited,
section.blog ul li:hover a:visited {
  color: #F02311;
}
section.portfolio ul li a:link,
section.blog ul li a:link,
section.portfolio ul li a:visited,
section.blog ul li a:visited {
  margin-top: 5px;
  display: inline-block;
  color: #666;
  text-decoration: none;
  font-size: 11px;
  text-shadow: 0px 1px #ffffff;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
section.portfolio ul li a:link:hover,
section.blog ul li a:link:hover,
section.portfolio ul li a:visited:hover,
section.blog ul li a:visited:hover {
  color: #F02311;
}
section.portfolio ul li .github-ribbon, section.blog ul li .github-ribbon {
  display: none;
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 10;
}
section.portfolio ul li a.readmore:link,
section.blog ul li a.readmore:link,
section.portfolio ul li a.readmore:visited,
section.blog ul li a.readmore:visited {
  background-image: linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -ms-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dcdcdc), color-stop(0.5, #f2f0f0));
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  padding: 5px 10px 5px 10px;
}
section.portfolio ul li a.readmore:link:hover,
section.blog ul li a.readmore:link:hover,
section.portfolio ul li a.readmore:visited:hover,
section.blog ul li a.readmore:visited:hover {
  color: #F02311;
}
section.portfolio ul li a.readmore:link:active,
section.blog ul li a.readmore:link:active,
section.portfolio ul li a.readmore:visited:active,
section.blog ul li a.readmore:visited:active {
  background-image: linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e6e6e6), color-stop(0, #f2f0f0));
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
section.portfolio ul li .photo, section.blog ul li .photo {
  line-height: 0px;
  margin-bottom: 10px;
}
section.portfolio ul li .photo img, section.blog ul li .photo img {
  box-sizing: border-box;
  border: 2px solid #fff;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
section.portfolio ul li h1, section.blog ul li h1 {
  padding: 0px 0px 0px 0px;
  margin: 0px;
  text-shadow: 0px 1px #ffffff;
}
section.portfolio ul li .body, section.blog ul li .body {
  padding: 15px;
}
section.portfolio ul li p,
section.blog ul li p,
section.portfolio ul li aside,
section.blog ul li aside,
section.portfolio ul li time,
section.blog ul li time {
  font-family: Georgia;
  font-size: 12px;
  line-height: 18px;
  display: block;
}
section.portfolio ul li p, section.blog ul li p {
  margin: 0px 0px 10px 0px;
  display: none;
}
section.portfolio ul li aside,
section.blog ul li aside,
section.portfolio ul li time,
section.blog ul li time {
  color: #F02311;
  font-style: italic;
  font-size: 11px;
}
section.portfolio ul li aside, section.blog ul li aside {
  padding-bottom: 10px;
}
section.portfolio ul li time, section.blog ul li time {
  font-size: 11px;
  color: #999;
  display: block;
  font-style: italic;
}
section.portfolio ul.animated li, section.blog ul.animated li {
  -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}
