/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
section.portfolio .centered {
  position: relative;
}
section.portfolio .centered article {
  list-style: none;
  color: #666;
  display: block;
  width: 100%;
  border-bottom: 1px dashed #ccc;
  padding: 20px 0px 20px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
section.portfolio .centered article.featured {
  width: 100%;
}
section.portfolio .centered article:last-child {
  border-bottom: none;
}
section.portfolio .centered article a.title:link, section.portfolio .centered article a.title:visited {
  margin-top: 5px;
  display: inline-block;
  color: #666;
  text-decoration: none;
  font-size: 11px;
  text-shadow: 0px 1px #ffffff;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
section.portfolio .centered article a.title:link:hover, section.portfolio .centered article a.title:visited:hover {
  color: #F02311;
}
section.portfolio .centered article .photo {
  line-height: 0px;
  margin-bottom: 0px;
  position: relative;
  float: left;
  margin-right: 20px;
  width: 462px;
  background-image: url('/assets/images/portfolio-thumbnail-shadow.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  padding-bottom: 40px;
}
section.portfolio .centered article .photo .github-ribbon {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
}
section.portfolio .centered article .photo .github-ribbon img {
  border: none;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
section.portfolio .centered article .photo img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #fff;
  z-index: 1;
  position: relative;
  display: block;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
section.portfolio .centered article .photo img:hover {
  border-color: #fff;
}
section.portfolio .centered article .description {
  width: 400px;
  float: left;
}
section.portfolio .centered article .description h1 {
  padding: 0px 0px 5px 0px;
  margin: 0px;
  text-shadow: 0px 1px #ffffff;
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: normal;
}
section.portfolio .centered article .description .body {
  padding: 15px;
}
section.portfolio .centered article .description p, section.portfolio .centered article .description aside, section.portfolio .centered article .description time {
  font-family: Georgia;
  font-size: 13px;
  line-height: 18px;
  display: block;
}
section.portfolio .centered article .description p {
  margin: 0px 0px 10px 0px;
  color: #555;
}
section.portfolio .centered article .description aside, section.portfolio .centered article .description time {
  color: #F02311;
  font-style: italic;
  font-size: 12px;
}
section.portfolio .centered article .description aside {
  padding-bottom: 10px;
}
section.portfolio .centered article .description time {
  font-size: 12px;
  color: #666;
  display: block;
  font-style: italic;
}
section.portfolio .centered.animated article {
  -webkit-transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
}
