/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
section.post-details {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
}
section.post-details .alignnone {
  display: block;
  margin-bottom: 20px;
}
section.post-details .content {
  padding-top: 10px;
  max-width: 720px;
  font-family: Georgia;
  color: #666;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  float: left;
}
section.post-details .content .categories {
  color: #F02311;
}
section.post-details .content time {
  font-size: 11px;
  color: #999;
  display: block;
  font-style: italic;
  margin-bottom: 0px;
}
section.post-details .content h1 {
  font-family: 'Oswald';
  font-size: 38px;
  font-style: normal;
  font-weight: normal;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  padding: 0px;
  margin: 0px 0px 5px 0px;
  line-height: 45px;
}
section.post-details .content h2 {
  font-size: 30px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  line-height: 37px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  margin: 5px 0px 5px 0px;
}
section.post-details .content h3 {
  font-size: 25px;
  line-height: 32px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  margin: 5px 0px 5px 0px;
}
section.post-details .content p {
  padding: 5px 0px 5px 0px;
}
section.post-details .content img {
  margin: 10px 0px 10px 0px;
  max-width: 100%;
  height: auto;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
}
section.post-details .content ul {
  padding: 10px 0px 10px 0px;
}
section.post-details .content ul li {
  margin-left: 20px;
}
section.post-details .content iframe {
  margin: 10px 0px 10px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
section.post-details .content .text {
  margin-top: 10px;
}
section.post-details .content .comments {
  margin-top: 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -o-border-radius: 4px 4px 4px 4px;
  border-radius: 4px 4px 4px 4px;
  padding: 20px;
}
section.post-details .content .comments iframe {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
section.post-details .content .comments #dsq-content .dsq-toolbar-item {
  background: none;
  background-color: #F02311;
}
section.post-details a:link, section.post-details a:visited {
  color: #F02311;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}
section.post-details a:link:hover, section.post-details a:visited:hover {
  border-bottom: 1px dotted #F02311;
}
