@-webkit-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes preloader-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
section.post-details {
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 960px;
  position: relative;
}
section.post-details .back {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #DDD !important;
  padding: 5px 11px 5px 10px;
  -webkit-transition: background-image 0.2s, border-color 0.2s !important;
  -moz-transition: background-image 0.2s, border-color 0.2s !important;
  -o-transition: background-image 0.2s, border-color 0.2s !important;
  transition: background-image 0.2s, border-color 0.2s !important;
  color: #333 !important;
  text-decoration: none;
  font-size: 11px;
  display: inline-block;
  position: fixed;
  top: 205px;
  left: 39px;
}
section.post-details .back:hover {
  color: #F02311 !important;
  background-image: linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -ms-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dcdcdc), color-stop(0.5, #f2f0f0));
  border-color: #999 !important;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
section.post-details .back:active {
  background-image: linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e6e6e6), color-stop(0, #f2f0f0));
  border-color: #999;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
section.post-details .back span {
  display: inline-block;
  background-image: url('/assets/images/back-arrow.png');
  background-repeat: no-repeat;
  background-position: center 4px;
  padding: 0px 5px 0px 5px;
  width: 25px;
  height: 20px;
}
section.post-details .alignnone {
  display: block;
  margin-bottom: 20px;
}
section.post-details .content {
  padding-top: 10px;
  max-width: 825px;
  font-family: Georgia;
  color: #444;
  font-size: 13px;
  line-height: 18px;
  float: left;
}
section.post-details .content .sidebar {
  float: left;
  width: 200px;
}
section.post-details .content .sidebar h2 {
  font-family: Georgia;
  line-height: 24px;
  font-size: 18px;
  padding: 8px 0px 8px 0px;
  border-top: 1px dashed #ccc;
}
section.post-details .content .sidebar .addthis_toolbox {
  border-top: 1px dashed #ccc;
  padding: 8px 0px 0px 0px;
}
section.post-details .content .sidebar .addthis_toolbox a:hover {
  text-decoration: none;
  border-bottom: none;
}
section.post-details .content .details {
  margin-left: 260px;
}
section.post-details .content .categories {
  color: #F02311;
  font-style: italic;
  padding: 4px 0px 6px 0px;
  border-bottom: 1px dashed #ccc;
}
section.post-details .content .tags {
  padding-top: 10px;
  font-style: italic;
  margin-bottom: 6px;
}
section.post-details .content .tags li {
  display: inline-block;
  background-color: #333;
  padding: 2px 4px 2px 4px;
  margin-right: 2px;
  margin-left: 0px;
  margin-bottom: 5px;
  font-size: 12px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-style: normal;
  font-family: 'Oswald';
}
section.post-details .content .tags li a:link,
section.post-details .content .tags li a:visited {
  color: #ffffff;
  text-decoration: none;
}
section.post-details .content .tags li a:link:hover,
section.post-details .content .tags li a:visited:hover {
  border-bottom: none;
}
section.post-details .content time {
  font-size: 12px;
  color: #666;
  display: block;
  font-style: italic;
  margin-bottom: 0px;
  padding: 5px 0px 0px 0px;
  border-top: 1px dashed #ccc;
}
section.post-details .content h1 {
  font-family: 'Oswald';
  font-size: 38px;
  font-weight: normal;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  padding: 0px;
  margin: 0px 0px 25px 0px;
  line-height: 45px;
  color: #666;
}
section.post-details .content h2 {
  font-size: 30px;
  font-family: 'Oswald';
  font-weight: normal;
  line-height: 37px;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  margin: 5px 0px 5px 0px;
  color: #666;
}
section.post-details .content h3 {
  font-size: 25px;
  line-height: 32px;
  font-family: 'Oswald';
  font-weight: normal;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8);
  margin: 0px 0px 15px 0px;
  color: #666;
}
section.post-details .content p {
  margin: 0px 0px 15px 0px;
}
section.post-details .content img {
  margin: 0px 0px 15px 0px;
  max-width: 100%;
  height: auto;
  border: 3px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: block;
}
section.post-details .content ul,
section.post-details .content ol {
  margin: 0px 0px 15px 0px;
}
section.post-details .content ul li,
section.post-details .content ol li {
  margin-left: 20px;
}
section.post-details .content iframe {
  margin: 0px 0px 15px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
section.post-details .content .text {
  margin-top: 10px;
}
section.post-details .content .text pre {
  tab-size: 4;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  -webkit-tab-size: 4;
  font-size: 14px;
  background-color: #272822;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid white;
  overflow-x: auto;
  color: #fff;
  margin: 0px 0px 15px 0px;
}
section.post-details .content .comments {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border-top: 1px dashed #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}
section.post-details .content .comments iframe {
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
section.post-details .content .comments #dsq-content .dsq-toolbar-item {
  background: none;
  background-color: #F02311;
}
section.post-details .content .comments .dsq-toolbar-label {
  color: #fff;
}
section.post-details a:link,
section.post-details a:visited {
  color: #F02311;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0);
  -webkit-transition: border-bottom 0.2s;
  -moz-transition: border-bottom 0.2s;
  -o-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}
section.post-details a:link:hover,
section.post-details a:visited:hover {
  border-bottom: 1px dotted #F02311;
}
