/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
a.readmore:link, a.readmore:visited {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  -o-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #DDD;
  padding: 5px 10px 5px 10px;
  -webkit-transition: background-image 0.2s, border-color 0.2s !important;
  -moz-transition: background-image 0.2s, border-color 0.2s !important;
  -o-transition: background-image 0.2s, border-color 0.2s !important;
  transition: background-image 0.2s, border-color 0.2s !important;
  color: #333 !important;
  text-decoration: none;
  font-size: 11px;
}
a.readmore:link:hover, a.readmore:visited:hover {
  color: #F02311 !important;
  background-image: linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -ms-linear-gradient(bottom, #dcdcdc 0%, #f2f0f0 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dcdcdc), color-stop(0.5, #f2f0f0));
  border-color: #999;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
a.readmore:link:active, a.readmore:visited:active {
  background-image: linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e6e6e6), color-stop(0, #f2f0f0));
  border-color: #999;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
a.github-link:link, a.github-link:visited {
  color: #555 !important;
  font-weight: bold;
  font-size: 11px;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 0 0 transparent,0 1px 0 white;
  padding: 3px 9px 3px 6px;
  margin: 10px 0px 5px 0px;
  border: 1px solid #CCC !important;
  border-bottom-color: #CCC !important;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #e0e0e0 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  -o-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
  -webkit-transition: all 0.218s !important;
  -moz-transition: all 0.218s !important;
  -o-transition: all 0.218s !important;
  transition: all 0.218s !important;
  display: none;
}
a.github-link:link.visible, a.github-link:visited.visible {
  display: inline-block;
}
a.github-link:link:hover, a.github-link:visited:hover {
  color: #F02311 !important;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #e0e0e0 100%);
  text-decoration: none;
  border: 1px solid #AAA !important;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
}
a.github-link:link:active, a.github-link:visited:active {
  background-image: linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e6e6e6), color-stop(0, #f2f0f0));
  border-color: #999;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
a.github-link:link span, a.github-link:visited span {
  padding-left: 20px;
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  display: inline-block;
  background-image: url('/assets/images/icon-github.png');
  background-repeat: no-repeat;
  line-height: 25px;
}
a.download-link:link, a.download-link:visited {
  color: #555 !important;
  font-weight: bold;
  font-size: 11px !important;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 0 0 transparent,0 1px 0 white;
  padding: 3px 9px 3px 6px;
  margin: 10px 0px 5px 0px;
  border: 1px solid #CCC !important;
  border-bottom-color: #CCC !important;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #e0e0e0 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  -o-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
  -webkit-transition: all 0.218s !important;
  -moz-transition: all 0.218s !important;
  -o-transition: all 0.218s !important;
  transition: all 0.218s !important;
  display: none;
}
a.download-link:link.visible, a.download-link:visited.visible {
  display: inline-block;
}
a.download-link:link:hover, a.download-link:visited:hover {
  color: #F02311 !important;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #e0e0e0 100%);
  text-decoration: none;
  border: 1px solid #AAA !important;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
}
a.download-link:link:active, a.download-link:visited:active {
  background-image: linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e6e6e6), color-stop(0, #f2f0f0));
  border-color: #999;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
a.download-link:link span, a.download-link:visited span {
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  display: inline-block;
  background-image: url('/assets/images/arrow_down.gif');
  background-position: left 3px;
  background-repeat: no-repeat;
  padding-left: 20px;
  line-height: 25px;
}
a.demo-link:link,
a.demo-link:visited,
a.website-link:link,
a.website-link:visited {
  color: #555 !important;
  font-weight: bold;
  font-size: 11px;
  text-shadow: 0 1px 0 white;
  text-shadow: 0 0 0 transparent,0 1px 0 white;
  padding: 3px 9px 3px 6px;
  margin: 10px 0px 5px 0px;
  border: 1px solid #CCC !important;
  border-bottom-color: #CCC !important;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #e0e0e0 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 0 1px #ffffff;
  -o-box-shadow: inset 0 0 1px #ffffff;
  box-shadow: inset 0 0 1px #ffffff;
  -webkit-transition: all 0.218s !important;
  -moz-transition: all 0.218s !important;
  -o-transition: all 0.218s !important;
  transition: all 0.218s !important;
  display: none;
}
a.demo-link:link.visible,
a.demo-link:visited.visible,
a.website-link:link.visible,
a.website-link:visited.visible {
  display: inline-block;
}
a.demo-link:link:hover,
a.demo-link:visited:hover,
a.website-link:link:hover,
a.website-link:visited:hover {
  color: #F02311 !important;
  background-image: -moz-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -ms-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f3f3f3), color-stop(100%, #e0e0e0));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0, #e0e0e0 100%);
  background-image: linear-gradient(to bottom, #f3f3f3 0, #e0e0e0 100%);
  text-decoration: none;
  border: 1px solid #AAA !important;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  -o-box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),inset 0 0 3px #fff;
}
a.demo-link:link:active,
a.demo-link:visited:active,
a.website-link:link:active,
a.website-link:visited:active {
  background-image: linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -o-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -moz-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -ms-linear-gradient(bottom, #e6e6e6 50%, #f2f0f0 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e6e6e6), color-stop(0, #f2f0f0));
  border-color: #999;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}
a.demo-link:link span,
a.demo-link:visited span,
a.website-link:link span,
a.website-link:visited span {
  font-family: Arial;
  font-size: 11px;
  font-style: normal;
  display: inline-block;
  background-image: url('/assets/images/application.gif');
  background-position: left 2px;
  background-repeat: no-repeat;
  padding-left: 23px;
  line-height: 25px;
}
a.website-link:link span, a.website-link:visited span {
  background-image: none;
}
