@import "lib.less";

footer {
    position: relative;
    z-index: 3;
    .box-shadow(inset 0px 0px 4px rgba(0,0,0,0.2));
    border-top:1px solid rgba(255, 255,255, 0.4);
    background-color:rgba(0, 0, 0, 0.02);
    display:block;
    opacity:0;


    &.active {
        .transition(opacity 0.2s);
        opacity:1;
    }

    aside {

        padding:20px;
        display:inline-block;

        &.menu {

            padding-left:120px;
            float:left;
            min-width:60px;

            nav {

                a:link,
                a:visited {
                    text-decoration:none;
                    color:#666;
                    text-shadow:0px 1px 1px rgba(255, 255, 255, 1);
                    display:block;
                    font-size:15px;
                    font-family:@fontMain;
                    padding:2px 0px 2px 0px;
                    .transition(color 0.2s);

                    &:hover {
                        color:#F02311;
                    }
                }

            }

            .html5logo {
                display:inline-block;
                margin-top:30px;

                img {
                    width:50px;
                    height:50px;
                }
            }

        }

        &.latest-tweets {
            float:left;
            color:#ccc;
            width:30%;
            font-size:15px;
            font-family:@fontMain;

            a:link,
            a:visited {

                color:#F02311;
                .transition(color 0.2s);
                text-decoration:none;
                border-bottom:1px dotted #F02311;
                &:hover {

                }
            }

            hgroup {

                h1 {
                    padding:0px 30px 0px 0px;
                    display:inline-block;
                    margin:0px;
                    font-weight:normal;
                    color:#666;
                    font-size:20px;
                    line-height:27px;
                    background-image:url('/assets/images/twitter-footer-icon.png');
                    background-repeat:no-repeat;
                    background-position:right 5px;
                    background-size: 24px 20px;
                    text-shadow:0px 1px 1px rgba(255, 255, 255, 1);
                }
            }

            p {
                font-family:@fontGeorgia;
                font-size:14px;
                color:#666;
                margin:0px;
                padding:15px 0px 15px 0px;
                text-shadow:0px 1px 1px rgba(255, 255, 255, 1);
                border-bottom:1px dashed #ccc;
                line-height:18px;
            }
        }

        &.copy {
            font-size:11px;
            padding-left:240px;
            font-family:@fontGeorgia;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            font-style:italic;
            color:#666;

            a:link,
            a:visited {

                color:#F02311;
                text-decoration:none;
                border-bottom:1px dotted rgba(0,0,0,0);
                .transition(border-bottom 0.2s);


                &:hover {
                    border-bottom:1px dotted #F02311;
                }
            }

        }

        &.flickr-photos,
        &.spotify-play-now {

            padding-top:0px;
            clear:both;
            display:block;
            padding-left: 240px;
            color:#ccc;
            max-width: 450px;
            font-size: 15px;
            font-family:@fontMain;

            hgroup {

                h1 {
                    padding:0px 40px 20px 0px;
                    display:inline-block;
                    margin:0px;
                    font-weight:normal;
                    color:#666;
                    font-size:20px;
                    line-height:27px;
                    text-shadow:0px 1px 1px rgba(255, 255, 255, 1);
                }
            }

            nav {

                a:link,
                a:visited {
                    text-align:center;
                    width:50px;
                    height:50px;
                    overflow:hidden;
                    display:inline-block;
                    margin-right:10px;
                    margin-bottom:10px;
                    opacity:0.9;
                    .transition(opacity 0.2s);
                    .border-radius(2px);
                    border:2px solid white;
                    .box-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
                    background-color: #000;

                    img {

                        height:50px;
                    }

                    &:hover {
                        opacity:1;
                    }
                }
            }
        }

        &.footer-logo {
            float: right;
        }
    }
}
