@import "lib.less";

html {
    height: 100%;
}

html, body {
    background-color:@bodyColor;
    -webkit-font-smoothing: antialiased;
    background-color:#ebebeb;
    min-height:100%;
    padding:0px;
    margin:0px;
}

body {
    min-height:100%;
    background-image:url('/assets/images/stripe_e7eb00fc0caa9bf17359f52ecb7f3416.png');
    .box-flex();
    .box-orient(vertical);
}

#wrapper {

    min-width:505px;
    margin-top:20px;
    box-sizing: border-box;
    .box-flex(1);

    #sections-wrapper {

        position:relative;
        width:100%;
        padding:0px 20px 20px 125px;
        .transition(left 0.3s ease-in-out);
        .box-sizing(border-box);

        .preloader {

            display:none;
            .transition(opacity 0.2s);
            width:330px;
            height:7px;
            line-height:7px;

            border:1px solid rgba(0,0,0,0.3);

            .border-radius(8px);
            .box-shadow(e('0px 0px 1px 1px rgba(255,255,255,1), inset 0px 0px 3px rgba(0,0,0,0.2)'));

            content: " ";
            background-color:rgba(0,0,0,0.1);

            background-image:
               -webkit-gradient(linear, 0 0, 100% 100%,
                  color-stop(.25, rgba(255, 255, 255, .2)),
                  color-stop(.25, transparent), color-stop(.5, transparent),
                  color-stop(.5, rgba(255, 255, 255, .2)),
                  color-stop(.75, rgba(255, 255, 255, .2)),
                  color-stop(.75, transparent), to(transparent)
               );

            background-image:
                    -webkit-linear-gradient(
                      -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
               );
            background-image:
                    -moz-linear-gradient(
                      -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
               );
            background-image:
                    -ms-linear-gradient(
                      -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
               );
            background-image:
                    -o-linear-gradient(
                      -45deg,
                  rgba(255, 255, 255, .2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, .2) 50%,
                  rgba(255, 255, 255, .2) 75%,
                  transparent 75%,
                  transparent
               );

                .animation(preloader-move 2s linear infinite);
                .background-size(50px 50px);

            &.active {
                display:block;
            }
        }

        .seo {
            display:none;
        }

        section {

            opacity:0;
            display:none;
            .transition(opacity 0.5s);

            .centered {
                width:100%;
            }


            &.blog,
            &.experiments,
            &.portfolio,
            &.post-details,
            &.contact {

            }

            &.active {
                display:block;
            }

        }
    }
}
