@import "lib.less";

html {
    height: 100%;
}

html, body {
    background-color:@bodyColor;
    -webkit-font-smoothing: antialiased;
    background-color:#ebebeb;
    min-height:100%;
    padding:0px;
    margin:0px;
}

body {
    min-height:100%;
    background-image:url('/assets/images/stripe_e7eb00fc0caa9bf17359f52ecb7f3416.png');
    .box-flex();
    .box-orient(vertical);
}

#wrapper {

    min-width:505px;
    margin-top:20px;
    box-sizing: border-box;
    .box-flex(1);

    #sections-wrapper {

        position:relative;
        width:100%;
        padding:0px 20px 20px 125px;
        .transition(left 0.3s ease-in-out);
        .box-sizing(border-box);

        .seo {
            display:none;
        }

        section {

            opacity:0;
            display:none;
            .transition(opacity 0.5s);

            .centered {
                width:100%;
            }


            &.blog,
            &.experiments,
            &.portfolio,
            &.post-details,
            &.contact {

            }

            &.active {
                display:block;
            }

        }
    }
}

footer {

    display:block;
    .box-shadow(inset 0px 0px 4px rgba(0,0,0,0.2));
    border-top:1px solid rgba(255, 255,255, 0.4);
    background-color:rgba(0, 0, 0, 0.02);

    &.active {
        display:block;
    }

}
