@fontGeorgia: Georgia;
@fontMain: 'Oswald';
@bodyColor: #F2F0F0;

.transition () {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.box-shadow (){
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    box-shadow: @arguments;
}

.border-radius (){
    -webkit-border-radius: @arguments;
    -moz-border-radius: @arguments;
    -o-border-radius: @arguments;
    border-radius: @arguments;
}

.hardware-accelerate () {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.transform () {
    -webkit-transform: rotate(@arguments);
    -moz-transform: rotate(@arguments);
    transform: rotate(@arguments);
}

.box-sizing () {
    -webkit-box-sizing:@arguments;
    -moz-box-sizing:@arguments;
    -o-box-sizing:@arguments;
    box-sizing:@arguments;
}

.box-flex () {
    display:-webkit-box;
    display:-o-box;
    display:box;
}


.box-orient () {
    -webkit-box-orient: @arguments;
    -mox-box-orient: @arguments;
    -o-box-orient: @arguments;
    box-orient: @arguments;
}

.box-flex () {
    -webkit-box-flex: @arguments;
    -moz-box-flex: @arguments;
    -o-box-flex: @arguments;
    box-flex: @arguments;
}
