@fontGeorgia: Georgia;
@fontMain: 'Oswald';
@bodyColor: #F2F0F0;

.transition (@params) {
    -webkit-transition: @arguments;
    -moz-transition: @arguments;
    -o-transition: @arguments;
    transition: @arguments;
}

.box-shadow (@params){
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    box-shadow: @arguments;
}

.border-radius (@params){
    -webkit-border-radius: @arguments;
    -moz-border-radius: @arguments;
    -o-border-radius: @arguments;
    border-radius: @arguments;
}

.hardware-accelerate () {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.transform (@params) {
    -webkit-transform: rotate(@arguments);
    -moz-transform: rotate(@arguments);
    transform: rotate(@arguments);
}

.box-sizing (@params) {
    -webkit-box-sizing:@arguments;
    -moz-box-sizing:@arguments;
    -o-box-sizing:@arguments;
    box-sizing:@arguments;
}

.box () {
    display:-webkit-box;
    display:-o-box;
    display:box;
}


.box-orient (@params) {
    -webkit-box-orient: @arguments;
    -mox-box-orient: @arguments;
    -o-box-orient: @arguments;
    box-orient: @arguments;
}

.box-flex (@params) {
    -webkit-box-flex: @arguments;
    -moz-box-flex: @arguments;
    -o-box-flex: @arguments;
    box-flex: @arguments;
}

.background-size(@params) {
    -webkit-background-size: @arguments;
    -moz-background-size: @arguments;
    -o-background-size: @arguments;
    background-size: @arguments;
}

.animation(@params) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}

// ANIMATIONS
@-webkit-keyframes preloader-move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-moz-keyframes preloader-move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-o-keyframes preloader-move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
