@import "lib.less";

section.post-details {
    padding:0px;
    .box-sizing(border-box);
    max-width:960px;
    position:relative;

    .back {
        .border-radius(3px);
        .box-shadow(0 1px 1px rgba(255, 255, 255, 0.5));
        border:1px solid #DDD !important;
        padding:5px 11px 5px 10px;
        .transition(e('background-image 0.2s, border-color 0.2s !important'));
        color:#333 !important;
        text-decoration:none;
        font-size:11px;
        display:inline-block;
        position:fixed;
        top:205px;
        left:39px;

        &:hover {

            color:#F02311 !important;

            background-image: linear-gradient(bottom, rgb(220,220,220) 0%, rgb(242,240,240) 50%);
            background-image: -o-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(242,240,240) 50%);
            background-image: -moz-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(242,240,240) 50%);
            background-image: -webkit-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(242,240,240) 50%);
            background-image: -ms-linear-gradient(bottom, rgb(220,220,220) 0%, rgb(242,240,240) 50%);

            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0, rgb(220,220,220)),
                color-stop(0.5, rgb(242,240,240))
            );

            border-color:#999 !important;
            .box-shadow(0px 1px 1px rgba(0,0,0,0.1));
        }

        &:active {

            background-image: linear-gradient(bottom, rgb(230,230,230) 50%, rgb(242,240,240) 0%);
            background-image: -o-linear-gradient(bottom, rgb(230,230,230) 50%, rgb(242,240,240) 0%);
            background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 50%, rgb(242,240,240) 0%);
            background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 50%, rgb(242,240,240) 0%);
            background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 50%, rgb(242,240,240) 0%);

            background-image: -webkit-gradient(
                linear,
                left bottom,
                left top,
                color-stop(0.5, rgb(230,230,230)),
                color-stop(0, rgb(242,240,240))
            );

            border-color:#999;

            .box-shadow(inset 0px 0px 5px rgba(0, 0, 0, 0.2));

        }

        span {
            display:inline-block;
            background-image:url('/assets/images/back-arrow.png');
            background-repeat:no-repeat;
            background-position:center 4px;
            padding:0px 5px 0px 5px;
            width:25px;
            height:20px;
        }

    }

    .alignnone  {
        display:block;
        margin-bottom:20px;
    }

    .content {

        padding-top:10px;
        max-width:825px;
        font-family:@fontGeorgia;
        color:#444;
        font-size:13px;
        line-height:18px;
        float:left;

        .sidebar {

            float:left;
            width: 200px;

            h2 {
                font-family: @fontGeorgia;
                line-height: 24px;
                font-size: 18px;
                padding: 8px 0px 8px 0px;
                border-top: 1px dashed #ccc;
            }

            .addthis_toolbox {
                border-top: 1px dashed #ccc;
                padding:8px 0px 0px 0px;

                a:hover {
                    text-decoration:none;
                    border-bottom:none;
                }
            }
        }

        .details {
            margin-left: 260px;
        }

        object {

        }

        .categories {
            color:#F02311;
            font-style:italic;
            padding: 4px 0px 6px 0px;
            border-bottom: 1px dashed #ccc;
        }

        .tags {

            padding-top:10px;
            font-style:italic;
            margin-bottom: 6px;

            li {
                display:inline-block;
                background-color:#333;
                padding:2px 4px 2px 4px;
                margin-right:2px;
                margin-left:0px;
                margin-bottom: 5px;
                font-size:12px;
                .border-radius(2px);
                font-style: normal;
                font-family:@fontMain;

                a:link,
                a:visited {
                    color:rgba(255,255,255,1);
                    text-decoration:none;
                    &:hover {
                        border-bottom:none
                    }
                }
            }
        }

        time {
            font-size:12px;
            color:#666;
            display:block;
            font-style:italic;
            margin-bottom:0px;
            padding: 5px 0px 0px 0px;
            border-top: 1px dashed #ccc;
        }

        h1 {
            font-family:@fontMain;
            font-size:38px;
            font-weight:normal;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            padding:0px;
            margin:0px 0px 25px 0px;
            line-height:45px;
            color:#666;

        }

        h2 {
            font-size:30px;
            font-family:@fontMain;
            font-weight:normal;
            line-height:37px;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            margin:5px 0px 5px 0px;
            color:#666;
        }

        h3 {
            font-size:25px;
            line-height:32px;
            font-family:@fontMain;
            font-weight:normal;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            margin:0px 0px 15px 0px;
            color:#666;
        }

        p {
            margin:0px 0px 15px 0px;
            font-size: 14px !important;
        }

        img {
            margin:0px 0px 15px 0px;
            max-width:100%;
            height:auto;
            border:3px solid #fff;
            .box-sizing(border-box);
            .box-shadow(1px 1px 1px rgba(0,0,0,0.2));
            display:block;
        }

        ul,
        ol {

            margin:0px 0px 15px 0px;

            li {
                margin-left:20px;
            }
        }

        iframe {
            margin:0px 0px 15px 0px;
            .box-sizing(border-box);
            .box-shadow(1px 1px 1px rgba(0,0,0,0.2));
        }

        .text {

            margin-top:10px;

            pre {

                tab-size:4;
                -o-tab-size:4;
                -moz-tab-size:4;
                -webkit-tab-size:4;

                font-size: 14px;
                background-color: rgba(39, 40, 34, 1);
                .box-sizing(border-box);
                padding: 10px;
                .border-radius(4px);
                border: 4px solid white;
                //.box-shadow (e('inset 0px 0px 12px rgba(0,0,0,0.2), 0px 1px 1px rgba(255,255,255,1)'));
                overflow-x: auto;
                color: #fff;
                margin:0px 0px 15px 0px;

            }

        }

        .comments {

            display:none;
            margin-top:20px;
            padding:20px;
            border-top:1px dashed #999;
            .box-sizing(border-box);
            max-width:100%;
            overflow-x:hidden;

            iframe {
                .box-shadow(0px 0px 0px rgba(0,0,0,0.0));
            }

            #dsq-content .dsq-toolbar-item {
                background:none;
                background-color:#F02311;
            }

            .dsq-toolbar-label {
                color:#fff;
            }
        }
    }

    a:link,
    a:visited {

        color:#F02311;
        text-decoration:none;
        border-bottom:1px dotted rgba(0,0,0,0);
        .transition(border-bottom 0.2s);

        &:hover {
            border-bottom:1px dotted #F02311;
        }
    }


}
