@import "lib.less";

section.post-details {
    padding:20px;
    .box-sizing(border-box);
    max-width:960px;

    .alignnone  {
        display:block;
        margin-bottom:20px;
    }

    .content {

        padding-top:10px;
        max-width:550px;
        font-family:@fontGeorgia;
        color:#444;
        font-size:12px;
        line-height:18px;
        font-style:italic;
        float:left;

        object {

        }

        .categories {
            color:#F02311;
        }

        time {
            font-size:11px;
            color:#999;
            display:block;
            font-style:italic;
            margin-bottom:0px;
        }

        h1 {
            font-family:@fontMain;
            font-size:38px;
            font-style:normal;
            font-weight:normal;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            padding:0px;
            margin:0px 0px 5px 0px;
            line-height:45px;
            color:#666;
        }

        h2 {
            font-size:30px;
            font-family:@fontMain;
            font-style:normal;
            font-weight:normal;
            line-height:37px;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            margin:5px 0px 5px 0px;
            color:#666;
        }

        h3 {
            font-size:25px;
            line-height:32px;
            font-family:@fontMain;
            font-style:normal;
            font-weight:normal;
            text-shadow:0px 1px 1px rgba(255,255,255,0.8);
            margin:10px 0px 10px 0px;
            color:#666;
        }

        p {
            padding:5px 0px 5px 0px;
        }

        img {
            margin:10px 0px 10px 0px;
            max-width:100%;
            height:auto;
            border:3px solid #fff;
            .box-sizing(border-box);
            .box-shadow(1px 1px 1px rgba(0,0,0,0.2));
            display:block;
        }

        ul {
            padding:10px 0px 10px 0px;
            li {
                margin-left:20px;
            }
        }

        iframe {
            margin:10px 0px 10px 0px;
            .box-sizing(border-box);
            .box-shadow(1px 1px 1px rgba(0,0,0,0.2));
        }

        .text {
            margin-top:10px;

            pre {
                tab-size:4;
                -o-tab-size:4;
                -moz-tab-size:4;
                -webkit-tab-size:4;
            }

        }

        .comments {
            margin-top:20px;
            background-color:#fff;
            .box-shadow(0px 0px 10px rgba(0,0,0,0.2));
            .border-radius(4px);
            padding:20px;
            .box-sizing(border-box);
            max-width:100%;
            overflow-x:hidden;

            iframe {
                .box-shadow(0px 0px 0px rgba(0,0,0,0.0));
            }

            #dsq-content .dsq-toolbar-item {
                background:none;
                background-color:#F02311;
            }

            .dsq-toolbar-label {
                color:#fff;
            }
        }
    }

    a:link,
    a:visited {

        color:#F02311;
        text-decoration:none;
        border-bottom:1px dotted rgba(0,0,0,0);
        .transition(border-bottom 0.2s);

        &:hover {
            border-bottom:1px dotted #F02311;
        }
    }


}
